/* SEARCH BOTTOM TOPBAR */

.search-bottom-topbar {
    display: none;
    background-color: #1e1e1e;
}

.search-bottom-topbar.show {
    display: block;
}

.search-bottom-topbar .search-top {
    width: 100%;
    text-align: center;
    color: #fff;
    height: 75px;
    background-color: transparent;
    border: none;
    font-size: 26px;
    text-decoration: none;
}
.widget-menu li a:hover , .widget-menu li a:active{
  color: #EC7A5C !important;
  font-weight: bold;
}
.widget-menu li a:hover small{
  color: #EC7A5C !important;
  font-weight: bold;
}

.widget-menu li i{
  padding-right: 5px;
}

.widget-posts-img{
  width: 70px;
  height: 70px;
}
#mota .yeuthich{
  color: #b9b9b9;
}
#mota .reviews a{
  text-decoration: none;
}
#mota .yeuthich:hover{
  color: #EC7A5C;  
}
#mota .quatang{
  border: 1px dashed #b9b9b9;
  padding: 20px;
  border-radius: 4px;
  color: #333;
  font-size: 14px;
}
.gioithieu{
  /*padding: 40px 20px;*/
}
#gioithieu .post-content, #specs .specs-content, #reviewbox .review-content{
  background-color: #fff;
  padding: 30px;
  border-radius: 6px;
}
.tabsanpham{
  z-index: 6000;
  width: 100%;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}
.tabsanpham .tablist{
  text-align: center;
}
.tabsanpham .nav-tabs{
  border: none;
}
.tabsanpham .nav-tabs li{
  /*float: none;
  display: inline-block;*/
  margin: 0;
  padding: 10px !important;
  text-transform: uppercase;
  font-size: 16px;
  background-color: transparent; !important;
  color: #c4c4c4;
  border-bottom: 2px solid transparent !important;
  text-align: center;
}

.tabsanpham .nav-tabs li a{
  color: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: none !important;
  background-color: transparent !important;
}
.tabsanpham .nav-tabs li:last-child{
  /*padding-right: 0 !important;*/
}
.tabsanpham .nav-tabs li.active{
  color: #333;
  border-bottom: 2px solid #EC7A5C !important;
}
.tabsanpham .nav-tabs li a:hover{
  color: #333;
  border: none !important;
  background-color: transparent !important;
}

.affix{
  top: 55px;
  z-index: 5000;
  position: fixed !important;
}
#reviewbox h3{
  letter-spacing: 0.1em;
}
#reviewboxform .star{
  margin-left: 15px;
}
#reviewboxform .star:hover{
  cursor: pointer;
}
#reviewboxform .star i.fa-star-o{
  color: #b9b9b9;
}
.fa-star,.fa-star-half-o,.fa-star-o{
  color: #EC7A5C;
}
#reviewboxform .star:hover i{
  color: #EC7A5C; 
}
#reviewboxform a{
  text-decoration: none;
}
#mota .quatang i{
  color: #EC7A5C;
}
.social-share .social{
  padding-left: 5px;
  color: #848484;
}
.social-share .social:hover.facebook{
  color: #3b5999;
}
.social-share .social:hover.twitter{
  color: #55acee;
}
.social-share .social:hover.pinterest{
  color: #bd081c;
}

.widget-posts .fa-star,.widget-posts .fa-star-half-o,.widget-posts .fa-star-o{
  color: #EC7A5C;
}
.yeuthich a{
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}
.yeuthich{

}
.tags{
  text-decoration: none;
  border: none;
}

.mod-breadcrumbs{
  letter-spacing: 0.1em !important;
}
.post-prev-title{
  text-transform: none !important;
  letter-spacing: 0 !important;
  font-size: 14px !important;
}
.addcart{
  letter-spacing: 0 !important;
  text-transform: none !important;
  border: 1px solid #eee !important;
  text-decoration: none;
  padding: 4px;
  color: #EC7A5C !important;
  font-size: 12px !important;
  text-align: center;
  width: 100%;
}
.addcart:hover{
  background-color: #EC7A5C !important;
  color: #fff !important;
}
.post-prev-more .fa-heart-o{
  color: #777;
}
.post-prev-more .fa-heart-o:hover{
  color: #EC7A5C;
}
.post-prev-text{
  margin-bottom: 0 !important;
}
.post-prev-img{
  margin-bottom: 15px !important;
}
/* OVERRIDE FORM */
.contact h3{
  margin-bottom: 20px;
}

/* OVERRIDE SECTION */
.small-section{
  background-attachment: inherit;
}
.small-section h1{
  letter-spacing: 0.2em;
}
.small-section .hs-line-4{
  letter-spacing: 2px;
}
.small-section .mod-breadcrumbs{
  letter-spacing: 0.2em;
}

/* OVERRIDE MENU */
.main-nav {
    /*height: 55px !important;*/
}

.main-nav .mobile-nav .mobile-text {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 21px;
    padding-left: 10px;
}

.main-nav .mobile-nav.small-height {
    padding: 0 10px;
}

.inner-nav ul {
    font-size: 14px;
}

.inner-nav ul li a {
    letter-spacing: 0;
}

ul.top-links.left {
    float: left !important
}

ul.top-links.right {
    float: right !important
}

/* OVERRIDE SECTION */
.section-title{
  font-size: 20px;
  letter-spacing: 0.2em;
}
.section-more{
  letter-spacing: 0.1em;
}
.post-prev-title{
  font-size: 16px;
}
.post-prev-title a{
  color: #333;

}

/* CATs */
.danhmucsp .cat-detail{
  position: relative;
  text-decoration: none;
  border: none;
}
.danhmucsp .cat-detail a{
  text-decoration: none;
  border: none;
}
.danhmucsp .cat-detail .cat-thumb{
  border-radius: 5px;
}
.danhmucsp .cat-detail a:hover .cat-des{
  background-color: #0084FF;
  color: #fff;
  opacity: 1;
}
@media screen and (max-width: 769px){
  .danhmucsp .cat-detail .cat-des{
    font-size: 13px;
  }  
}
.danhmucsp .cat-detail .cat-des{
  position: absolute;
  bottom: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  color: #555;
  width: 100%;
  padding: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}
.danhmucsp .cat-detail .cat-des .sub{
  display: block;
  font-size: 12px;
  text-transform: none;
  font-weight: normal;
}
.phuongthucthanhtoan .payment{
  display: inline-block;
  margin-right: 10px;
  float: left;
}
.phuongthucthanhtoan .payment img{
  width: 54px;
  height: 33px
}

.post-prev-img.p15{
  padding: 0 15px;
}

/* PRODUCT */
.pro-overlay-info{
  position: absolute;
  font-size: 12px;
  text-decoration: uppercase;
  font-weight: bold;
}
.pro-overlay-info .giamgia{
  color: #fff;
  background-color: #d9534f;
  border-radius: 4px;
  padding: 2px 5px;
}
.pro-overlay-info .hethang{
  color: #fff;
  background-color: rgba(121, 121, 121, 0.9);
  border-radius: 4px;
  padding: 2px 5px;
}
.pro-overlay-info .spmoi{
  color: #fff;
  background-color: #438e44;
  border-radius: 4px;
  padding: 2px 5px;
}
.pro-overlay-info a{
  padding: 0;
  margin: 0;
}
.pro-overlay-info i{
  color: #fff;
  font-size: 16px;
  text-shadow: 2px 1px 2px rgba(150, 150, 150, 0.97);
}
.pro-overlay-info.align-bottom-left{
  bottom: 10px;
  left: 10px;
}
.pro-overlay-info.align-right{
  top: 10px;
  right: 10px;
}
.pro-overlay-info.align-left{
  top: 10px;
  left: 10px;
}
.pro-overlay-info.full-bg-dark a{
  color: #fff;
  text-decoration: none;
}
.pro-overlay-info.full-bg-dark{
  width: 100%;
  padding: 5px 10px;
  left: 0;
  bottom: 0;
  background-color: #333;
  color: #fff;
}

/**
* Reset
*/
#full-screen-search,
#full-screen-search button,
#full-screen-search button.close,
#full-screen-search form,
#full-screen-search form div,
#full-screen-search form div input,
#full-screen-search form div input.search {
    border: none;
    background:none;
    float:none;
    letter-spacing:normal;
    list-style:none;
    outline:none;
    position:static;
    text-decoration:none;
    text-indent:0;
    text-shadow:none;
    text-transform:none;
    visibility:visible;
    overflow:visible;
    margin:0;
    padding:15px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    -ms-box-shadow:none;
    -o-box-shadow:none;
    box-shadow:none;
    -webkit-appearance:none;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
}
@media screen & (min-width: 769px){
  #full-screen-search input.search{
    padding:30px;
    font-size: 40px;
  }
}

/**
* Background
*/
#full-screen-search {
    visibility: hidden;
    opacity: 0;
    z-index: 999998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.95);

    /**
    * Add some CSS3 transitions for showing the Full Screen Search
    */
    transition: opacity 0.1s linear;
}

/**
* Display Full Screen Search when Open
*/
#full-screen-search.open {
    /**
    * Because we're using visibility and opacity for CSS transition support,
    * we define position: fixed; here so that the Full Screen Search doesn't block
    * the underlying HTML elements when not open
    */
    position: fixed;
    visibility: visible;
    opacity: 1;
}

/**
* Search Form
*/
#full-screen-search form {
    position: relative;
    width: 100%;
    height: 100%;
}

/**
* Close Button
*/
#full-screen-search button.close {
  position: absolute;
  z-index: 999999;
  top: 20px;
  right: 20px;
  font-size: 80px;
  font-weight: 300;
  color: #333;
  cursor: pointer;
}

/**
* Search Form Div
*/
#full-screen-search form div {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 50%;
    left: 25%;
    margin: -50px 0 0 -25%;
}

/**
* Search Form Input Placeholder Color
*/
#full-screen-search form div input::-webkit-input-placeholder { 
    font-family: Arial, sans-serif;
    color: #ccc;
}
#full-screen-search form div input:-moz-placeholder { 
    font-family: Arial, sans-serif;
    color: #ccc;
}
#full-screen-search form div input::-moz-placeholder { 
    font-family: Arial, sans-serif;
    color: #ccc;
}
#full-screen-search form div input:-ms-input-placeholder { 
    font-family: Arial, sans-serif;
    color: #ccc;
}

/**
* Search Form Input
*/
#full-screen-search form div input {
  width: 100%;
  height: 100px;
  background: #eee;
  padding: 20px;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
}
.product-cat{
  padding: 30px;
  background-color: #fff;
  border-radius: 6px;
}